body {
    text-align: center;
    
}

#hcj {
    text-align:justify-all;
    background-image: linear-gradient(to right, green, yellow);
}

.kijki {
    line-height: inherit;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    align-items:flex-end;
}

.lymph {
    font-family: "MonteCarlo", cursive;
    text-align: center;
     
    
}

#vi {
    font-family: "Montez", cursive;
}

.link a:hover {
    background-color: cyan;
}




.menu {
  list-style: none;
    font-family:cursive;
   float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
   
  
}


.link {
    
    display: inline;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom: 5px;
    color: white;
    
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#dg{
    background-image: linear-gradient(flo,pink)
    height: 550px;
}

#dh{background-image: linear-gradient(to right,yellow,yellowgreen)}
#di{background-image: linear-gradient(to right,lightgreen,darkgreen)}